@media screen and (max-width: 992px) {

    .header-nav_bar,
    .background-pain {
        display: none;
    }

    .thumbnail-image {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 1024px) {

    .boxsFlat {
        width: 100%;
    }

    .color-picker {
        max-width: 400px;
    }
}